<ul class="nav">
  <li [ngClass]="{ active: router.url == '/dashboard' }">
    <a routerLink="/dashboard">
      <i class="fa fa-tasks"></i>
      <p>Dashboard {{selectedItem}}
      </p>
    </a>
  </li>
  <li *ngIf="accounts == null">
    <a>
      <i class="fa fa-spinner-third fa-spin"></i>
    </a>
  </li>
  <ng-container *ngFor="let account of accounts">
    <li [ngClass]="{ active: router.url == '/account/' + account.id }">
      <a routerLink="/account/{{account.id}}">
        <p>
          <i>
            <img src="assets/img/{{ account.icon }}.png" />
          </i> {{ account.name }}
        </p>
      </a>
    </li>
  </ng-container>
</ul>
