<div *ngIf="accounts == null">
  <div class="col-lg-4 col-sm-6 text-center">
    <div class="card">
      <div class="content stats">
        <i class="fa fa-spinner-third fa-spin fa-2x"></i>
        <div>Loading accounts</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="operations == null">
  <div class="col-lg-12 text-center">
    <div class="card">
      <div class="content stats">
        <i class="fa fa-spinner-third fa-spin fa-2x"></i>
        <div>Loading operations</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="operations != null" class="row">
  <div *ngFor="let account of accounts" class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-4">
            <div class="icon-big text-center">
              <i class="{{ account.icon }} color-{{ account.color }}"></i>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="numbers">
              <p class="account-name">{{ account.name }}</p>
              {{ account.balance|currency:account.currency:2 }}
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-xs-6">
            &nbsp;
            <span *ngIf="account.balance !== account.pending">
              {{ account.pending|currency:account.currency:2 }}
            </span>
          </div>
          <div class="col-xs-6 text-right">
            <span *ngIf="account.balance !== account.downloaded">
              {{ account.downloaded|currency:account.currency:2 }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="operations != null" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Past operations</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-striped">
          <tbody>
            <ng-container *ngFor="let operation of operations">
              <tr *ngIf="(operation.date|date:'yyyyMMdd') <= (now)">
                <td class="text-center icon">
                  <i class="{{ operation.account.icon }} color-{{ operation.account.color }}"></i>
                </td>
                <td>
                  {{ operation.name }}
                  <div *ngFor="let downloadedOperation of downloadedOperations">
                    <small *ngIf="downloadedOperation.amount === operation.amount && downloadedOperation.account.id === operation.account.id"
                      class="color-{{ operation.account.color }}">
                      {{ downloadedOperation.name }} - {{ downloadedOperation.date }}
                      <a (click)="linkOperation(downloadedOperation.id, operation.id)">
                        <i class="fa fa-link"></i>
                      </a>
                    </small>
                  </div>
                </td>
                <td class="category">{{ operation.category.name}}</td>
                <td class="text-right date">{{ operation.date|date:'EEE dd/MM' }}</td>
                <td class="text-right amount">{{ operation.amount|currency:operation.account.currency:2 }}</td>
                <td class="text-right buttons">
                  <a *ngIf="(operation.date|date:'yyyyMMdd') <= (now)" class="btn btn-success btn-xs" (click)="checkOperation(operation.id)">
                    <i class="fa fa-check"></i>
                  </a>
                  <a routerLink="/operation/{{operation.id}}" class="btn btn-info btn-xs">
                    <i class="fa fa-pen"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="operations != null" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Incoming operations</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-striped">
          <tbody>
            <ng-container *ngFor="let operation of operations">
              <tr *ngIf="(operation.date|date:'yyyyMMdd') > (now)">
                <td class="text-center icon">
                  <i class="{{ operation.account.icon }} color-{{ operation.account.color }}"></i>
                </td>
                <td>
                  {{ operation.name }}
                  <div *ngFor="let downloadedOperation of downloadedOperations">
                    <small *ngIf="downloadedOperation.amount === operation.amount && downloadedOperation.account.id === operation.account.id"
                      class="color-{{ operation.account.color }}">
                      {{ downloadedOperation.name }} - {{ downloadedOperation.date }}
                      <a (click)="linkOperation(downloadedOperation.id, operation.id)">
                        <i class="fa fa-link"></i>
                      </a>
                    </small>
                  </div>
                </td>
                <td class="category">{{ operation.category.name}}</td>
                <td class="text-right date">{{ operation.date|date:'EEE dd/MM' }}</td>
                <td class="text-right amount">{{ operation.amount|currency:operation.account.currency:2 }}</td>
                <td class="text-right buttons">
                  <a *ngIf="(operation.date|date:'yyyyMMdd') <= (now)" class="btn btn-success btn-xs" (click)="checkOperation(operation.id)">
                    <i class="fa fa-check"></i>
                  </a>
                  <a routerLink="/operation/{{operation.id}}" class="btn btn-info btn-xs">
                    <i class="fa fa-pen"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="downloadedOperations" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Downloaded operations</h4>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let downloadedOperation of downloadedOperations">
              <td class="text-center icon">
                <i class="{{ downloadedOperation.account.icon }} color-{{ downloadedOperation.account.color }}"></i>
              </td>
              <td>
                {{ downloadedOperation.name }}
              </td>
              <td class="text-right date">{{ downloadedOperation.date }}</td>
              <td class="text-right amount">{{ downloadedOperation.amount|currency:downloadedOperation.account.currency:2 }}</td>
              <td class="text-right buttons">
                <a routerLink="/operation" [queryParams]="{account: downloadedOperation.accountId, amount: downloadedOperation.amount, date:downloadedOperation.date, name: downloadedOperation.name}"
                  class="btn btn-info btn-xs btn-icon">
                  <i class="fa fa-plus"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
