/* You can add global styles to this file, and also import other style files */

ul { padding: 0; }
li { list-style-type: none; }

td { padding-top: 4px !important; padding-bottom: 4px !important; }
td.icon { width: 5%; }
td.category { width: 20%; }
td.date, td.amount, td.buttons { width: 10%; }

.account-name { white-space: nowrap; }
.filter { display: none; }

.color-boursorama { color: #d10173; }
.color-caisse-epargne { color: #db0029; }
.color-kbc { color: #009fda; }
.color-n26 { color: rgb(59, 208, 214); }
.color-revolut { color: #05d2f5; }

.color-cecilie { color: #ff79c2; }
.color-fabrice { color: #1496fd; }
.color-noemie { color: #d3b1fa; }
