/* You can add global styles to this file, and also import other style files */

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.filter {
  display: none;
}

.account-name {
  white-space: nowrap;
}

.color-e11624 {
  color: #e11624;
}

.color-3bd0d6 {
  color: #3bd0d6;
}

.color-ff79c2 {
  color: #ff79c2;
}

.color-1496fd {
  color: #1496fd;
}

.color-d3b1fa {
  color: #d3b1fa;
}

.color-d10173 {
  color: #d10173;
}

.color-05d2f5 {
  color: #05d2f5;
}
